.so-widget-sow-slider-default-fbdebc71dc7f .sow-slider-base .sow-slider-pagination li a {
  background: #0a0a0a;
}
.so-widget-sow-slider-default-fbdebc71dc7f .sow-slider-base .sow-slide-nav {
  font-size: 25px;
}
.so-widget-sow-slider-default-fbdebc71dc7f .sow-slider-base .sow-slide-nav a {
  color: #0a0a0a;
}